<template>
  <div class="about">
    <h1 class="about__title">A simple weather app made with Vue.js</h1>
    <div class="about__paragraph">
      Built With;
      <br />
      <br />
      <ul>
        <li>
          <b>VUE:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/vuejs/vue"
          >https://github.com/vuejs/vue</a>
        </li>
        <br />
        <li>
          <b>VUEX:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/vuejs/vuex"
          >https://github.com/vuejs/vuex</a>
        </li>
        <br />
        <li>
          <b>VUE-Router:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/vuejs/vue-router"
          >chttps://github.com/vuejs/vue-router</a>
        </li>
        <br />
        <li>
          <b>Axios:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/axios/axios"
          >https://github.com/axios/axios</a>
        </li>
        <br />
        <li>
          <b>Day.js:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/iamkun/dayjs"
          >https://github.com/iamkun/dayjs</a>
        </li>
        <br />
        <li>
          <b>Core.js:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/zloirock/core-js"
          >https://github.com/zloirock/core-js</a>
        </li>
        <br />
        <li>
          <b>Font Awesome:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/FortAwesome/Font-Awesome"
          >https://github.com/FortAwesome/Font-Awesome</a>
        </li>
        <br />

        <li>
          <b>(DEV) Node-SASS:</b>
          <a
            class="about__paragraph__link"
            href="https://github.com/sass/node-sass"
          >https://github.com/sass/node-sass</a>
        </li>

        <br />

        <li>
          <b>WEATHER API:</b>
          <a
            class="about__paragraph__link"
            href="https://openweathermap.org/api"
          >https://openweathermap.org/api</a>
        </li>
      </ul>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.about {
  max-width: 1366px;
  margin: 0 auto;
  &__paragraph {
    font-size: 18px;

    &__link {
      color: rgb(155, 0, 0);
      text-decoration: none;
    }

    &__img {
      width: 500px;
    }
  }
}
</style>