<template>
  <div id="cities">
    <div>
      <div id="city">
        <div class="main">
          <div class="main__loading" v-if="loading">Loading...</div>
          <WeatherInfo :loading="loading"></WeatherInfo>
          <font-awesome-icon
            class="main__rotate"
            :class="{ down }"
            @click="down = !down"
            v-on:click="isHidden = !isHidden"
            icon="chevron-down"
          />
          <transition name="fade">
            <ForecastList v-if="isHidden"></ForecastList>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WeatherInfo from "@/components/WeatherInfo";
import ForecastList from "@/components/ForecastList";

export default {
  name: "city",
  components: {
    WeatherInfo,
    ForecastList,
  },

  props: ["selectedCity"],
  data() {
    //console.log(this.selectedCity);
    return {
      init: this.selectedCity,
      loading: true,
      down: false,
      isHidden: false,
    };
  },

  mounted: function () {
    this.getData(this.init);
  },
  methods: {
    async getData(valueSelected) {
      this.loading = true;
      await this.$store.dispatch("FETCH_WEATHER", valueSelected);
      this.loading = false;
    },
  },
};
</script>

<style  lang="scss">
.main {
  height: 50 0px;
  padding-top: 8%;
  &__rotate {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    font-size: 40px;
    position: relative;
    top: 50px;
    cursor: pointer;
    color: white;
    animation: blinker 2s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
    &__loading {
      z-index: 999;
      top: 0;
      right: 0;
      padding: 5px;
      color: #fff;
    }
    &:hover {
      color: rgba(0, 174, 255, 0.479);
    }
    &.down {
      color: rgba(0, 174, 255, 0.479);
      animation: none;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px){
  
}
</style>
