<template>
  <div>
    <ul v-if="forecastWeather.length > 0" class="w-forecast-list">
      <ForecastListItem
        v-for="(item, index) in forecastWeather"
        :key="index"
        :pos="index"
        :item="item"
      ></ForecastListItem>
    </ul>
  </div>
</template>
<script>
import ForecastListItem from "@/components/ForecastListItem";
import { mapState } from "vuex";
export default {
  name: "ForecastList",
  components: {
    ForecastListItem,
  },
  computed: {
    ...mapState(["forecastWeather"]),
  },
};
</script>

<style lang="scss" scoped>
.w-forecast-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 3em 0 0 0;
  padding: 1em 0;
  background-color: #00000041;
  li{
  box-sizing: border-box;
  width: 20%;
}
}

</style>