<template>
  <div id="home" class="home">
    <City class="home__city" v-for="item in citiesList" :key="item.city" :selectedCity="item"></City>
  </div>
</template>

<script>
import City from "@/components/City";

import { initCity } from "@/config";

export default {
  name: "home",
  components: {
    City,
  },
  data() {
    return {
      citiesList: initCity,
    };
  },
};
</script>

<style lang="scss">
::-webkit-scrollbar {
  background: none;
  width: 50px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 182, 231);
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  &:single-button {
    display: block;
    border: 0 0 0 5px;
    height: 13px;
    width: 16px;

    &:vertical {
      &:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #555555 transparent;

        &:hover {
          border-color: transparent transparent #777777 transparent;
        }
      }

      &:increment {
        border-width: 8px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
      }
    }
  }

  &:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
  }
}

.home {
  display: grid;
  padding: 1% 12%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: -50px 20px;
  color: #fff;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 59vh;
  &__city {
    margin: 5px 10px;
    background: center no-repeat url("../assets/madrid.jpg");
    background-size: cover;
    box-shadow: 3px 2px 3px 3px rgba(0, 0, 0, 0.363);
    &:nth-child(2) {
      background-image: url("../assets/london.jpg");
    }
    &:nth-child(3) {
      background-image: url("../assets/paris.jpg");
    }
    &:nth-child(4) {
      background-image: url("../assets/berlin.jpg");
    }
    &:nth-child(5) {
      background-image: url("../assets/roma.jpg");
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
   .home {
     height: 90vh;
    &__city {
      width: 300px;
      margin-left: -60px;
      margin-right: 70px;
      height: 80vh;
      box-shadow: none;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .home {
    height: 90vh;
    &__city {
      width: 400px;
      margin-left: -60px;
            margin-right: 70px;

      height: 70vh;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .home {
    width: 800px;
    height: 70vh;
    &__city {
      width: 220px;
      height: 85vh;
       margin-left: -60px;
            margin-right: 70px;
    }
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .home {
    &__city {
      width: 200px;
      margin-left: -13%;
      height: 70vh;
    }
  }
}
</style>
