<template>
  <div>
    <div class="wlocation">
      <h1 class="wlocation__city">
        <i class></i>
        {{ city }}
        <br />
        <em class="wlocation__country">({{ country }})</em>
      </h1>
    </div>

    <div v-if="error" class="wlocation--error">
      <i class="warning sign icon"></i>Sorry, data is not available....
    </div>
    <div v-else>
      <div v-if="weather != null">
        <div>
          <span class="w-temp">
            {{ Math.ceil(temp) }}
            <span>°C</span>
          </span>
        </div>
        <div>
          <span class="w-condition">
            <img :src="icon" class="w-icon" :alt="mainweather" />
            {{ mainweather }}
          </span>
        </div>
        <div>
          <span class="w-condition-wind">
            <font-awesome-icon class="w-condition-wind__icon" icon="wind" />
            {{ wind }} m/s
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import { baseImg } from "@/config";
import { mapState, mapGetters } from "vuex";

export default {
  name: "WeatherInfo",
  props: ["loading"],
  data() {
    return {
      baseImg,
    };
  },
  computed: {
    ...mapState(["city", "country"]),
    ...mapGetters(["temp", "wind", "weather"]),
    icon() {
      return this.weather != null
        ? `${this.baseImg}${this.weather.icon}.png`
        : "#";
    },
    mainweather() {
      return this.weather != null ? this.weather.main : "";
    },
    error() {
      return !this.loading && this.temp == null;
    },
  },

  filters: {
    formatDate(value) {
      return value ? dayjs(value).format("dddd, MMM D - HH:mm") : "";
    },
  },
};
</script>

<style lang="scss" scoped>
body {
  font-size: 16px;
}
.wlocation {
  &__city {
    margin: 0;
    text-align: center;
    font-size: 2em;
    padding-bottom: 6%;
    margin: 3% 5%;
  }

  &__country {
    font-size: 15px;
    position: relative;
    top: -18px;
  }
}

.w-icon {
  width: 60px;
  height: 60px;
  vertical-align: text-bottom;
  margin-left: -20px;
  left: 10px;
  top: 12px;
  position: relative;
}
.w-temp {
  margin-right: 0.1em;
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: -2px;
  position: relative;
  span {
    font-size: 20px;
    top: -10px;
    position: absolute;
  }
}
.w-condition {
  font-size: 22px;
}
.w-condition-wind {
  position: relative;
  top: 10px;
  font-size: 22px;

  &__icon {
    position: relative;
    left: 7px;
    margin-right: 12px;
    font-size: 32px;
  }
}
</style>
