<template>
  <div id="app">
    <div class="nav">
      <router-link to="/" class="nav__link"> <font-awesome-icon
          icon="home"
          /></router-link>
      <router-link to="/about" class="nav__link">About</router-link>
      <div class="nav__logo">
      <img class="nav__logo__img"  src="./assets/logo.svg" alt="">
<br>
<p class="nav__logo__description">
  Nano Weather  
</p>
      </div>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
body {
  font-family: "Lato", sans-serif;
  background: url("assets/glassbackground.jpg") no-repeat center;
  background-size: cover;
  overflow-y: hidden;
  height: 100vh;
  .nav {
    background: rgba(252, 252, 252, 0.226);
    box-shadow: 0px 3px 8px rgba(30, 173, 230, 0.288);
    padding: 5px;
    margin: 10% 13.5% 0  ;
      text-align: center;
      position: relative;
      top: -100px;
    &__link {
      color: #2d88b9;
      font-size: 20px;
      margin-left: 5%;
      margin-right: 5%;
      text-decoration: none;
      font-weight: bold;
      position: absolute;

      &:nth-child(1){
          left: 0;
          top: 38%;
          font-size: 40px;
      }
        &:nth-child(2){
          right: 0;
          top: 42%;
          font-size: 20px;
        
      }
    }
      &__logo{
      margin: 10px auto 5px;

      &__description{
        color: rgb(65, 141, 131);
        font-weight: bold;
        margin-top: -2px;

        &__link{
          color: orange;
          text-decoration: none;
        }
      }
    }

  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  body{
    .nav{
  top: -30px !important;
background: none;
box-shadow: none;
margin-bottom: 30px;
  &__link{
     &:nth-child(1){
          left: -30px;
          top: 38%;
          font-size: 22px;
      }
        &:nth-child(2){
          right: -38px;
          top: 42%;
          font-size: 18px;
        
      }
  }
  &__logo{
    &__img{
          width: 40px;

    }
    &__description{
      display: none;
    }
  }
}
  }

}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  body{
    height: 100% !important;
    .nav{
  top: -30px !important;
background: none;
box-shadow: none;
margin-bottom: 30px;
  &__link{
     &:nth-child(1){
          left: -40px;
          top: 38%;
          font-size: 22px;
      }
        &:nth-child(2){
          right: -38px;
          top: 42%;
          font-size: 18px;
        
      }
  }
  &__logo{
    &__img{
          width: 40px;

    }
    &__description{
      display: none;
    }
  }
}
  }

}

@media only screen and (min-width: 801px) and (max-width: 1365px) {
  body{
    .nav{
  top: -30px !important;
background: none;
box-shadow: none;
margin-bottom: 30px;
  &__link{
     &:nth-child(1){
          left: -40px;
          top: 38%;
          font-size: 22px;
      }
        &:nth-child(2){
          right: -38px;
          top: 42%;
          font-size: 18px;
        
      }
  }
  &__logo{
    &__img{
          width: 40px;

    }
    &__description{
      display: none;
    }
  }
}
  }

}
</style>
 